*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#353535+0,515151+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b2b2b+0,515151+100 */
background: rgb(43,43,43); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(43,43,43,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(43,43,43,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(43,43,43,1) 0%,rgba(81,81,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#515151',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 650px;
	margin: 0px auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .card{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	border-left: 2px solid rgba(255, 255, 255, 0.1);
	z-index: 2;
	backdrop-filter: blur(2px);
}



.card {
}
.container .card{
	padding: 20px;
	text-align: center;
}
.content .back{
	position: absolute;
	top: 30px;
	right: 0px;
	font-weight: 800;
	color: rgba(255, 255, 255, 0.2);
	font-size: 6em;
	transform: rotate(-45deg);
	filter: blur(2px);
}
.photo{
	font-size: 30px;
}

.text{
	color: rgba(255, 255, 255, 0.2);
	font-size: 20px;
}
.link{
	display: flex;
}
